/* Публичные стили
============================================================================ */

/* Переменные для цветов и прозрачности */
:root {
  --color-text: #bfbfbf;
  --color-text-invert: #353535;
  --color-svg: white;
  --color-svg-hover: black;
  --color-lamp: #7daaed;
  --color-lamp-hover: #c39c59;
  --color-link: white;
  --opacity-img: 0.8;

  --color-body-night: linear-gradient(80deg, #000000, #5984c3);
  --color-body-day: linear-gradient(80deg, #ffecb9, #c39c59);
  --color-a4-container-night: linear-gradient(270deg, #383838, #1a1a1a, #0d0d0d);
  --color-a4-container-day: linear-gradient(270deg, #b0b0b0, #d5d5d5, #f3f3f3);
}
/* Включить лампу(изменить тему на светлую) */
.lamp--on {
  --color-text: #353535;
  --color-text-invert: #bfbfbf;
  --color-svg: rgb(0, 0, 0);
  --color-svg-hover: white;
  --color-lamp: #785518;
  --color-lamp-hover: #7daaed;
  --color-link: black;
  --opacity-img: 0.9;
}

/* Body */
.body {
  font-family: Arial, sans-serif;
  color: var(--color-text);
}

html,
body {
  margin: 0;
  position: relative;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 20px 0 20px 0;
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  transition: opacity 2s ease;
}
body::before {
  background: linear-gradient(80deg, #000000, #5984c3);
  opacity: 1;
}

body::after {
  background: linear-gradient(80deg, #ffecb9, #c39c59);
  opacity: 0;
}

body.lamp--on::before {
  opacity: 0;
}

body.lamp--on::after {
  opacity: 1;
}

/* Контейнер листа */
.a4-container {
  position: relative;
  max-width: 100%;
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 25px;
  background: transparent;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Общие стили для обоих псевдоэлементов */
.a4-container::before,
.a4-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  z-index: -1;
  transition: opacity 1s ease;
}

.a4-container::before {
  background: var(--color-a4-container-night);
  opacity: 1;
}

.a4-container::after {
  background: var(--color-a4-container-day);
  opacity: 0;
}

body.lamp--on .a4-container::before {
  opacity: 0;
}

body.lamp--on .a4-container::after {
  opacity: 1;
}

/* Отступы, расположение элементов */
.mr-10 {
  margin-right: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-0 {
  margin-right: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-0 {
  margin-top: 0px;
}

.m-25 {
  margin: 25px
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.ml-a {
  margin-left: auto
}

.ml-24 {
  margin-left: 24px;
}

.ml-36 {
  margin-left: 36px;
}

.mb-variable {
  margin-bottom: 60px;
}

.mt-variable {
  margin-top: 60px;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.max-w-740 {
  max-width: 740px;
}

.center {
  text-align: center;
}

/* Flex */
.display-flex {
  display: flex;
}

.flex-jc-start {
  justify-content: flex-start !important;
}

.flex-dir-column {
  flex-direction: column !important;
}

.gap-12 {
  gap: 12px;
}

/* Для svg */
.for-svg {
  color: var(--color-svg) !important;
  transition: color 1s ease;
}

.for-svg:hover {
  color: var(--color-svg-hover) !important;
  transition: color 1s ease;
}

/* Для лампы */
.for-lamp {
  width: 24px;
  height: 24px;
  color: var(--color-lamp);
  transition: color 1s ease;
}

.for-lamp:hover {
  color: var(--color-lamp-hover);
  transition: color 1s ease;
}

/* Фото */
.photo {
  justify-self: center;
  object-fit: cover;
  border-radius: 10px;
  max-width: 200px;
  opacity: var(--opacity-img);
}

/* Для ссылок */
.for-link {
  height: 24px;
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  transition: color 2s ease;
}

.for-link:hover,
.for-link:active {
  text-decoration: none;
  color: var(--color-link);
}

/* Стек */
.for-stack {
  display: flex;
  gap: 8px;
  margin-left: 24px;
  margin-top: 12px;
  padding: 12px;
  flex-wrap: wrap;
  width: 500px;
}
.for-stack > * {
  border: 1px solid;
  border-radius: 10px;
  padding: 8px;
}
.for-stack > *:hover {
  color: var(--color-svg);
  border-radius: 10px;
}

/* Тосты */
.toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.toast {
  background-color: var(--color-text);
  color: var(--color-text-invert);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

/* Полезные классы */
.user-select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.svg-24 {
  width: 24px;
  height: 24px;
}

.svg-18 {
  width: 18px;
  height: 18px;
}
